:root{
    --blue:rgb(0, 153, 255);
    --gradblue:linear-gradient(to bottom, rgb(45, 154, 255), rgb(0, 55, 158));
    /* dark => rgb(28, 27, 34)
       light => white*/
    --theme: rgb(42, 41, 48);
}

html, body{
    height: 100vh;
    width: 100vw;
    padding:0%;
    margin: 0;
    background-color: var(--theme);
}

* {
    box-sizing: border-box;
}

#theme{
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid var(--theme);
    border-radius: 10px;
    padding: 10px;
    color: var(--theme);
    float: inline-end;

}
#theme:hover{
    background-color: var(--theme);
    color: var(--blue);
}

div.navbar{
    height: 70px;
    width: 100%;
    background-image: linear-gradient(to bottom right, rgb(0, 132, 255), rgb(0, 89, 255));
    margin: 0px;
    padding:10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    top:0px;
    position: sticky;
    box-shadow: 0px 0px 5px var(--blue);
}

div.navbar span{
    float:left;
    padding: 15px;
    font-size: 20px;
    font-family: 'Arial';
}

div.navbar a{
    float: left;
    color: var(--theme);
    text-align: center;
    padding:15px;
    text-decoration: none;
    font-size: 18px;
    font-family: 'Arial';
}

div.navbar a:hover{
    border-radius: 10px;
    border: 1px solid var(--theme);
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5);
    animation: inactivehover 0.5s 1;
}

div.navbar a.active{
    color: var(--blue);
    background: var(--theme);
    border-radius: 10px;
}

div.navbar a.active:hover{
    color: var(--blue);
    background: var(--theme);
    border-radius: 5px;
    animation: activehover 0.3s 1;
    
    
}

#title{
    color: var(--theme);

}

div.copyright{
    bottom: 0px;
    position: fixed;
    padding: 5px;
    display: flex;
    justify-content: space-around;
    background: var(--theme);
    border: 1px solid var(--blue);
    width:98%;
    margin-left: 1%;
    border-radius: 25px;
    box-shadow: 0px 0px 5px var(--blue);
}

div.copyright a{
    border: 1px solid var(--blue);
    border-radius: 25px;
    padding: 15px;
    background-color: var(--blue);
    color: var(--theme);
    font-size: 15px;
    text-align: center;
    text-decoration: none;
}

div.copyright a:hover{
    background-color: var(--theme);
    color: var(--blue);
}

div.copyright p{
    color: var(--blue);
    font-size: 15px;
}

/* Animations */

@keyframes activehover{
    0%{
        border-radius: 10px;
    }
    100%{
        border-radius: 5px;
    }
}

@keyframes inactivehover{
    0%{
        border: 1px solid var(--theme);
        color: var(--theme);
    }
    100%{
        border: 1px solid var(--theme);
        color: var(--theme);
    }
}